################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tick/.vs
/tick/bin
/tick/obj
